<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="bg-slate-950">
    <%- include("navbar") %>
    <div class="bg-slate-900 max-w-2xl m-auto mt-10 p-6">
      <h1 class="text-2xl text-white font-bold"><%= title %></h1>
      <form class="max-w-md m-auto mt-4 flex flex-col gap-4" action="" method="POST">
        <div>
          <label class="text-slate-400" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="title" value="<%-
          locals.post?post.title:"" %>" />
        </div>
        <div>
          <label class="text-slate-400" for="message">Message</label>
          <textarea class="form-control h-40" id="message" name="text">
<%- locals.post?post.text:"" %></textarea
          >
        </div>
        <% if (locals.errors && errors.length) { %>
        <div class="flex flex-col gap-3">
          <% for (let error of errors) { %>
          <div class="bg-red-500 bg-opacity-20 text-red-500 p-2 rounded flex gap-2 items-center">
            <svg
              class="shrink-0"
              width="18"
              height="16"
              viewBox="0 0 18 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.84293 0.307095C8.19615 0.105767 8.59465 0 9 0C9.40535 0 9.80385 0.105767 10.1571 0.307095C10.5103 0.508423 10.8063 0.798516 11.0165 1.14938L11.0188 1.15316L17.6776 12.4073L17.6839 12.4183C17.8899 12.7794 17.9988 13.1887 18 13.6056C18.0011 14.0226 17.8944 14.4325 17.6905 14.7947C17.4866 15.1569 17.1925 15.4588 16.8376 15.6702C16.4827 15.8817 16.0792 15.9953 15.6674 15.9999L15.6588 16L2.33256 16C1.92077 15.9954 1.51734 15.8817 1.16241 15.6702C0.80748 15.4588 0.51342 15.1569 0.309487 14.7947C0.105554 14.4325 -0.00114381 14.0226 9.24734e-06 13.6056C0.00116235 13.1887 0.110126 12.7794 0.31606 12.4183L0.322446 12.4073L6.98348 1.14938C7.19371 0.79851 7.48972 0.508423 7.84293 0.307095ZM9 1.59182C8.86488 1.59182 8.73205 1.62707 8.61431 1.69418C8.4971 1.76099 8.3988 1.85712 8.32878 1.97336L1.67508 13.2189C1.60812 13.3381 1.57271 13.4729 1.57233 13.6101C1.57194 13.7491 1.60751 13.8857 1.67549 14.0065C1.74346 14.1272 1.84149 14.2278 1.95979 14.2983C2.07707 14.3681 2.21023 14.406 2.34623 14.4081H15.6538C15.7898 14.406 15.9229 14.3681 16.0402 14.2983C16.1585 14.2278 16.2565 14.1272 16.3245 14.0065C16.3925 13.8857 16.4281 13.7491 16.4277 13.6101C16.4273 13.4729 16.3919 13.3382 16.3249 13.2189L9.67217 1.97495C9.67185 1.97442 9.67154 1.97389 9.67122 1.97336C9.6012 1.85712 9.5029 1.76099 9.38569 1.69418C9.26795 1.62707 9.13512 1.59182 9 1.59182ZM9 4.85723C9.43419 4.85723 9.78616 5.21357 9.78616 5.65314V8.83677C9.78616 9.27634 9.43419 9.63268 9 9.63268C8.56581 9.63268 8.21384 9.27634 8.21384 8.83677V5.65314C8.21384 5.21357 8.56581 4.85723 9 4.85723ZM8.21384 12.0204C8.21384 11.5808 8.56581 11.2245 9 11.2245H9.00786C9.44205 11.2245 9.79402 11.5808 9.79402 12.0204C9.79402 12.46 9.44205 12.8163 9.00786 12.8163H9C8.56581 12.8163 8.21384 12.46 8.21384 12.0204Z"
                fill="currentcolor"
              />
            </svg>
            <span><%= error.msg %></span>
          </div>
          <% } %>
        </div>
        <% } %>
        <button class="btn-primary mt-4">Submit</button>
      </form>
    </div>
  </body>
</html>
